# while loop

In [3]:
#break statement
x = 0
while x<11:
    print(x)
    x= x+1

0
1
2
3
4
5
6
7
8
9
10

In [6]:
x = 0
while x < 10:
    print(x)
    if x == 5:
        break
    x += 1

0
1
2
3
4
5

In [8]:
#Continue 
x = 0
while x < 10:
    
    if x == 5 or x == 9:
        x += 1
        
        continue
    print(x)
    x += 1

0
1
2
3
4
6
7
8

In [10]:
#else below while
x = 0
while x < 10:
    
    if x == 5:
        x += 1
        continue
    print(x)
    x += 1
else:
    print("There is no more statement to execute")

0
1
2
3
4
6
7
8
9
There is no more statement to execute

In [1]:
# while on list and tuple
list1 = ["mango","cherry","banana","papaya","blueberry","apple"]
#print(list1)

print ("'while' on list")

x = 0
while x <len(list1):
    print(list1[x])
    x += 1

'while' on list
mango
cherry
banana
papaya
blueberry
apple

In [6]:
# tuple Operation
tup = ("mango", "banana", "cherry", "orange")
print(tup)

print("while on tup")
x = 1
while x < len(tup):
    print(tup[x])
    x += 1

('mango', 'banana', 'cherry', 'orange')
while on tup
banana
cherry
orange

# For loops

In [ ]:
# or iterates over a list tuple set dict and string

'''for i in <data>:
        print(i)'''

list1 = ["mango","cherry","banana","papaya","blueberry","apple"]

In [7]:
list1 = ["mango","cherry","banana","papaya","blueberry","apple"]
for x in list1:
    print(x)

mango
cherry
banana
papaya
blueberry
apple

In [8]:
for i in list1:
    if i == "papaya":
        print(i)

papaya

In [9]:
# string
STR1 = "abcdefghijklmnopqrstuvwxyz"
for i in STR1:
    print(i)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [12]:
# tuple
tup = ("ram", "sham", "taj")
v = "ram"
for v in tup:
    print(v)

ram
sham
taj

In [18]:
# dict


st1 = {
    "name": "maddy",
    "age": 37,
    "mobile" :123456789
    
}
print(" default it will print keys")
for i in st1:
    print(i)
    
    
    print ('value')
for i in st1:
    print(st1[i])

 default it will print keys
name
value
age
value
mobile
value
maddy
37
123456789

In [19]:
for key in st1.keys():
    print(key)

name
age
mobile

In [20]:
for val in st1.values():
    print(val)

maddy
37
123456789

In [21]:
for key,val in st1.items():
    print(key, ":", val)

name : maddy
age : 37
mobile : 123456789

In [22]:
# set

set1 = {"mango", "banana", "cherry", "aaple"}
for i in set1:
    print(i)

banana
cherry
aaple
mango

# range

In [ ]:
# The range() function returns a sequence of numbers, starting from 0 by default, 
#and increments by 1 (by default), and stops before a specified number.

In [ ]:
# syntax 
range(start, stop, step)

In [25]:
import time
for i in range(10):
    time.sleep(1)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
# regular  number
for v in range(1,11):
    print(v)

1
2
3
4
5
6
7
8
9
10

In [2]:
# table of 2
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [5]:
#odd number
for d in range(1,21,2):
    print(d)

1
3
5
7
9
11
13
15
17
19

In [79]:
list1 = []

l = int(input("Enyer the size of list:- "))


for i in range (0,l):
        elmn = int(input("enter element number:-  ".format(i+1)))
        list1.append(elmn)
print("your  list is ready",list1)

Enyer the size of list:- 7
enter element number:-  5
enter element number:-  6
enter element number:-  4
enter element number:-  5
enter element number:-  6
enter element number:-  8
enter element number:-  6
your  list is ready [5, 6, 4, 5, 6, 8, 6]

In [ ]:
# tuple is immutable

In [56]:
s =8

for l in range(0,s):
    for m in range(0,l+1):
        print("*",end = " ")
        
    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [3]:
y = 8

j = 2 * y -1

for i in range(0,y):
    for m in range(0,j):
        
        print(end = " ")
        
    j = j-2
    
    for m in range(0,y+1):
        print("*",end=" ")
        
    print("")

               * * * * * * * * *
             * * * * * * * * *
           * * * * * * * * *
         * * * * * * * * *
       * * * * * * * * *
     * * * * * * * * *
   * * * * * * * * *
 * * * * * * * * *

In [2]:
# create square of 5x5 "*" 
for i in range(0,9):
    print(" * " *9)

 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

In [1]:
print("Print equilateral triangle ")

size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    
    m = m - 1
    for j in range(0, i + 1):
        print("*", end=' ')
    print()

Print equilateral triangle
            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *

In [9]:
# create square of 5x5 "*" 
for i in range(1*5):
    print(" * ")

 *
 *
 *
 *
 *