### Operators

1. Arthmetic opeators
2. Assignments Operators
3. Comparison 
4. logical Operators
5. Identity Operators
6. Membership Operators
7. Bitwise Operators

# 1.Arthmetic opeators

1. +  Addition       x + y
2. -  Subtraction    x - y
3. *  Multiplication x * y
4. /  Division       x / y
5. %  Modulus        x % y
6. ** Exponentiation x ** y
7. // Floor Division x // y

In [26]:
x = 1456.0
y = 12.0

#Addition
print("--------------------Addition---------------")
print(x+y)
#xx
#subtraction
print("\n------------------Subtraction-------------")
print(x-y)
#xx
#Multiplication
print("\n------------------Multiplication-------------")
print(x*y)
#xx
#Division
print("\n------------------Division-------------")
print(x/y)
#xx
#Modulus
print("\n------------------Modulus-------------")
print("remainder of",x, "MOD", y, "is" ,x%y)


#Exponentiation
print("\n------------------Exponentiation-------------")
print(x**y)

#Floor Division
print("\n------------------Floor Division-------------")
print(x//y)

--------------------Addition---------------
1468.0

------------------Subtraction-------------
1444.0

------------------Multiplication-------------
17472.0

------------------Division-------------
121.33333333333333

------------------Modulus-------------
remainder of 1456.0 MOD 12.0 is 4.0

------------------Exponentiation-------------
9.076878030950185e+37

------------------Floor Division-------------
121.0

.
.
.
.






.

# 2.  Assignments Operators

=	 x = 5	  x = 5	
+=	 x += 3	  x = x + 3
-=	 x -= 3	  x = x - 3
*=	 x *= 3	  x = x * 3
/=	 x /= 3	  x = x / 3
%=	 x %= 3	  x = x % 3
//=	 x //= 3  x = x // 3
**=	 x **= 3  x = x ** 3

In [42]:
#simple assignment
x = 5
print(x)

5

In [44]:
#add and assign
x+=100
print(x)

100

In [45]:
#substract and assign
x -= 5
print(x)

95

In [46]:
# Multiplication and assign
x *= 2
print(x)

190

In [47]:
# div and assign
x /= 10
print(x)

19.0

In [48]:
#floor division and assignment
x //= 4
print(x)

4.0

In [50]:
#exponent and assign
x **= 10
print(x)

1048576.0

In [51]:
#modulu
x %= 10.10
print(x)

4.100000000036884

# 3. Comparison Operatiors

# Operatiors 
&=     x &= 3     x = x & 3
|=     x |= 3     x = x | 3
^=     x ^= 3     x = x ^ 3
>>=    x >>= 3    x = x >> 3
<<=    x <<= 3    x = x << 3

In [1]:
# 1. == Equal
x = 5
z = input(in)
y = 5
print("x and z is Equal, hence consition is :- ",x == z)

5
x and z is Equal, hence consition is :-  False

In [31]:
#2.!= Not Equal
n = 10
m = 12
print("n and m is not Equal, hence consition is:- ", n!=m)

n and m is not Equal, hence consition is:-  True

In [32]:
#3. Greater than
n = 10
m = 12
print("10 is not greater than 12 hence, condition is :-  ",n>m)

10 is not greater than 12 hence, condition is :-   False

In [33]:
#4. less than
n = 10
m = 12
print("10 is less than 12 hence, condition is :-  ",n<m)

10 is less than 12 hence, condition is :-   True

In [34]:
# 5. greater than equal to
n = 10
m = 10
print("10 is not 'Greater' than 10 but equal to 10 hence, condition is :-  ",n>=m)

10 is not greater than 10 but equal to hence, condition is :-   True

In [39]:
# 5. greater than equal to
n = 11
m = 11
print("11 is not 'Less' than 11 but equal to 11 hence, condition is :-  ",n<=m)

11 is not 'Less' than 11 but equal to 11 hence, condition is :-   True

In [2]:
jd = "Dipak"
dj = "Dnyanadeo"
if jd>dj:
    print("Dipak is big brother")
else:
    print("Dnyanadeo is big brother")

Dnyanadeo is big brother

# 4. Logical operators

In [8]:
#  and Opetators :-
#true and true --->  true
#true and false --->  false
x = 3
print((x<5) and (x>5))

# or Operatrs

#true or true --->  true
#true or false --->  true

print((x<5) or (x>5))

#not Operators

#     not (x<5) ---->false
#  without not (x<5)----> true

print(not (x<5))
print(not (x>5))
print((x<5))

False
True
False
True
True

# 5. identy operators

In [10]:

# 1. is : returns true if both varible are the same object
# x is y

#2. is not: returns true if both varible are not the same object 
#x is not y

In [17]:
x = 10
y = 10
print ("value of x: ", x)
print ("value of x: ",id(x))
print ("value of y: ", y)
print ("value of y: ", id(y))
print(x is y)

value of x:  10
value of x:  140714433565768
value of y:  10
value of y:  140714433565768
True

# Membership Operators

In [ ]:
# in : Returns True if a sequence with the specified value is present in the object
# x in y
# not in:  Returns True if a sequence with the specified value is not present in the object
# x not in y

In [19]:
l = [10,20,30,"ram",45,"sham"]

print("ram" in l)

True

# Bitwise Operators

In [ ]:
# & AND	Sets each bit to 1 if both bits are 1
#  |    OR   Sets each bit to 1 if one of two bits is 1
#  ^   XOR   Sets each bit to 1 if only one of two bits is 1
#  ~   NOT   Inverts all the bits
# <<  Zero   fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
#>>  Signed  right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off
#

In [48]:
x = 4       # 1 0 0
y = 5       # 1 0 1
z = x & y   # 1 0 0 = 4 
print("bitwise for :-'AND Operator'",z)

print("\n")

x = 4       # 1 0 0
y = 5       # 1 0 1 
z = x | y   # 1 0 1 = 5
print("bitwise for :-'OR Operator'",z)

print("\n")

x = 4
y = 5
z = x ^ y
print("bitwise for :-'XOR Operator'",z)

print("\n")

#x = 4
y = ~ -16

print("bitwise for :-'NOT Operator'",y)

print("\n")

x = 4
y = 5
z = x << 2
print("bitwise for :-'Left Shift'",z)


print("\n")

x = 4
y = 5
z = x >> 2
print("bitwise for :-'Right Shift'",z)

bitwise for :-'AND Operator' 4


bitwise for :-'OR Operator' 5


bitwise for :-'XOR Operator' 1


bitwise for :-'NOT Operator' 15


bitwise for :-'Left Shift' 16


bitwise for :-'Right Shift' 1