# Set Operations

Method	Description

set.add()	Adds an element to the set

set.clear()	Removes all the elements from the set

set.copy()	Returns a copy of the set

set.difference()	Returns a set containing the difference between two or more sets

set.difference_update()	Removes the items in this set that are also included in another, specified set

set.discard()	Remove the specified item

set.intersection()	Returns a set, that is the intersection of two or more sets

set.intersection_update()	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	Returns whether two sets have a intersection or not

issubset()	Returns whether another set contains this set or not

issuperset()	Returns whether this set contains another set or not

pop()	Removes an element from the set

remove()	Removes the specified element

symmetric_difference()	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	inserts the symmetric differences from this set and another

union()	Return a set containing the union of sets

update()	Update the set with another set, or any other iterable

In [8]:
myset = {"apple", "banana", "cherry"}
yourset = {"tiger", "lion", "cow"}
print(myset)

{'banana', 'apple', 'cherry'}

In [11]:
#add

myset = {"apple", "banana", "cherry"}
yourset = {"tiger", "lion", "cow"}
myset.add("mango")
print(myset)
print("--------------------------------------")
myset.copy()
print(myset)

{'banana', 'apple', 'mango', 'cherry'}
--------------------------------------
{'banana', 'apple', 'mango', 'cherry'}

In [14]:
#difference

myset = {"apple", "banana", "cherry"}
yourset = {"tiger", "lion", "cow", "apple"}
z = myset.difference(yourset)
print(z)

{'banana', 'cherry'}

In [19]:
#difference_update

myset = {"apple", "banana", "cherry","cow"}
yourset = {"tiger", "lion", "cow", "apple"}
z = myset.difference_update(yourset)
print(z)
print(myset)
print(yourset)

None
{'banana', 'cherry'}
{'lion', 'apple', 'cow', 'tiger'}

In [3]:
#update

set = {1,2,3,"krish",4,5,6}
myset = {"apple", "banana", "cherry"}
yourset = {"tiger", "lion", "cow", "apple"}
set.update(myset)
print(set)

{'apple', 1, 2, 3, 4, 5, 6, 'krish', 'banana', 'cherry'}

In [7]:
#remove() discard() pop()

set = {1,2,3,"krish",4,5,6}
myset = {"apple", "banana", "cherry"}
yourset = {"tiger", "lion", "cow", "apple"}

set.remove("krish")
print(set)

myset.discard("banana")
print(myset)

result = yourset.pop()
print(result)
print(yourset)

{1, 2, 3, 4, 5, 6}
{'apple', 'cherry'}
apple
{'lion', 'tiger', 'cow'}

In [10]:
#union
s1 = {1,2,3,4,5,6}
s2 = {2,7,8,9,1,10}
s3 = s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
#intersection

s4 = {1,2,3,4,5,}
s5 = {2,7,8,9,6}
s6 = s4.intersection(s5)
print(s6)

{2}

In [17]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) 

print(z)

{'apple'}

In [20]:
#difference_update

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

l = x.difference_update(y)

print(x)
print(y)
print(l)

{'banana', 'cherry'}
{'apple', 'microsoft', 'google'}
None

In [28]:
#symmetric_difference
x = {"apple", "banana", "chery"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) 

print(x)
print(y)
print(z)

{'apple', 'chery', 'banana'}
{'apple', 'microsoft', 'google'}
{'microsoft', 'banana', 'google', 'chery'}

In [27]:
k = {"apple", "baana", "cherry"}
m = {"google", "microsoft", "apple"}

k.symmetric_difference_update(m)

print(k)

{'baana', 'microsoft', 'cherry', 'google'}

In [11]:
k = {"apple", "banana", "cherry"}
m = {"google", "microsoft", "cherry"}
print(k.isdisjoint(m))
print(k.issubset(m))
print(k.issuperset(m))

False
False
False