In [5]:
# 1. convert below value into integer # 
var1 = "100.10"
var2 = float(var1)
print("converted first into float--->",var2)
var3 = int(var2)
print("converted into int--->",var3)

converted first into float---> 100.1
converted into int---> 100

In [20]:
# 2. convert var1,var2 and var3 into boolen.

var1 = bool(100)
print("Answer for var1 = bool(100) is --->",var1)
var2 = bool(0)
print("Answer for var2 = bool(0) is ---->",var2)
var3 = bool(0.00)
print("Answer for var3 = bool(0.00) is ---->",var3)
var4 = bool(0.01)
print("Answer for var4 = bool(0.01) is ---->",var4)

Answer for var1 = bool(100) is ---> True
Answer for var2 = bool(0) is ----> False
Answer for var3 = bool(0.00) is ----> False
Answer for var4 = bool(0.01) is ----> True

In [23]:
# 3. print third element of python.
str1 = "python"
print(str1[2])

t

In [27]:
# 4. print last element from python
print(str1[-1])
print(str1[5:])

n
n

In [28]:
# 5. print first three elements of python.

print(str1[:3])

pyt

In [29]:
# 6. print last three elements of python.
print(str1[-3:])

hon

In [32]:
# 7. remove 4 from given list
l1 = [1,2,3,4,2,3,5,6]
l1.remove(4)
print(l1)

[1, 2, 3, 2, 3, 5, 6]

In [82]:
# 8. add 4.,9 to the list
l1.append(4)
print("append 4 ",l1)
l1.insert(8,9)
print("insert9",l1)

append 4  [1, 2, 2, 3, 3, 4, 5, 6, 9, 9, [2], 4, 4, 4, 4, 4, [10, 20, 30], 4]
insert9 [1, 2, 2, 3, 3, 4, 5, 6, 9, 9, 9, [2], 4, 4, 4, 4, 4, [10, 20, 30], 4]

In [89]:
#l1.remove([2]
print(l1)
l1.remove([10,20,30])

l1.sort(reverse = True)
print(l1)

[1, 2, 2, 3, 3, 4, 5, 6, 9, 9, 9, 4, 4, 4, 4, 4, [10, 20, 30], 4]
[9, 9, 9, 6, 5, 4, 4, 4, 4, 4, 4, 4, 3, 3, 2, 2, 1]

In [59]:
# 9. sort the given list asending and desending order 
l2 = ["a","b","c","d"]
l2.sort(reverse = False)
print(l2)
l2.sort(reverse = True)
print(l2)

['a', 'b', 'c', 'd']
['d', 'c', 'b', 'a']

In [47]:
#10. add all l1 elements to t1.

t1 = (10,20,30)
m1 = list(t1)
print(m1)
m1.append(l1)
print(l1)

[10, 20, 30]
[1, 2, 3, 2, 3, 5, 6, 4, 9, 9, [2], 4, 4, 4, 4, 4, [10, 20, 30]]

In [66]:
# 11. print all keys fom given dict.
d1 ={
    "k1":"sagar",
    "k2":"sai",
    "k3":"rohit"
}

print(d1.keys())

dict_keys(['k1', 'k2', 'k3'])

In [68]:
# 12. print all values from given dict.
print(d1.values())

dict_values(['sagar', 'sai', 'rohit'])

In [76]:
# 13. print both keys and values from given dict
print(d1.keys(),d1.values())
print("-----------")
print(d1.items())

dict_keys(['k1', 'k2', 'k3', 'k4', 'salary']) dict_values(['sagar', 'sai', 'rohit', 'pooja', 10000])
-----------
dict_items([('k1', 'sagar'), ('k2', 'sai'), ('k3', 'rohit'), ('k4', 'pooja'), ('salary', 10000)])

In [73]:
# 13. add key 4 as pooja in given list.

d1["k4"] = "pooja"
print(d1)

{'k1': 'sagar', 'k2': 'sai', 'k3': 'rohit', 'k4': 'pooja'}

In [74]:
# 14. sdd salary : 10000 in given list
d1["salary"] = 10000
print(d1)

{'k1': 'sagar', 'k2': 'sai', 'k3': 'rohit', 'k4': 'pooja', 'salary': 10000}

In [78]:
list1 = [10,20,30,40]
list1.sort(reverse = True)
print(list1)

[40, 30, 20, 10]